.admin-panel-header-div .dashboard-table-container td img {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}
.admin-panel-header-div .dashboard-table-container .product-info {
  display: flex;
  align-items: center;
  color: var(--black-color);
}
.admin-panel-header-div .dashboard-table-container .product-stock-keeping-unit {
  color: var(--primary-btn-bg);
  font-weight: 600;
}
.admin-panel-header-div .dashboard-table-container tbody tr:hover {
  background-color: var(--dashboard-tr-hover-color);
}

/* dashboard-add-product-css */

.dashboard-add-content-left-side {
  width: 75%;
  overflow: scroll;
  height: calc(100vh - 185px);
  scrollbar-width: none;
}
.dashboard-add-content-right-side {
  width: 25%;
}

/* dashboard-add-product-css */

.add-product-form-container {
  display: flex;
  flex-direction: column;
}
.add-product-form-container label {
  font-size: 14px;
  padding: 12px 0 5px 0;
  color: var(--light-black-color);
}
.add-product-form-container input,
.add-product-form-container textarea,
.add-product-form-container select {
  width: 100%;
  padding: 11px;
  outline: none;
  font-family: var(--info-font);
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  color: var(--light-black-color);
  background-color: var(--dashboard-tr-hover-color);
  font-size: 14px;
}
.add-product-form-container textarea {
  height: 150px;
  resize: none;
}
.add-product-form-container input::placeholder,
.add-product-form-container textarea::placeholder {
  color: var(--placeholder-color);
}
.add-product-form-container .add-product-upload-container {
  width: 100%;
  padding: 25px;
  border: 2px dashed var(--primary-border-color);
  border-radius: 10px;
  background-color: var(--dashboard-tr-hover-color);
  text-align: center;
  transition: 0.9s;
}
.add-product-form-container .add-product-upload-container:hover {
  border-color: var(--primary-btn-bg);
}
.add-product-form-container .add-product-upload-icon img{
  width: 70px;
  height: 80px;
  margin: 0 15px;
}
.add-product-form-container .add-product-upload-text {
  color: var(--primary-font-color);
  font-family: var(--info-font);
  font-size: 14px;
  margin-bottom: 15px;
}
