/* -----hero-container-start-------- */
.hero-container {
  background: linear-gradient(
    90deg,
    rgba(56, 54, 56, 1) 2%,
    rgba(11, 11, 11, 1) 37%
  );
}
.hero-container .container {
  display: flex;
}
.hero-container *,
.brand_collection *,
.product-category-section * {
  font-family: var(--primary-font);
}
.hero-container-content {
  width: 36%;
  color: var(--light-white-color);
}
.hero-container-image {
  width: 64%;
}
.hero-container-content h1 {
  font-size: 50px;
  line-height: 1.3em;
}
.hero-container-content p {
  color: var(--primary-font-color);
  font-weight: 600;
  margin: 3% 0 6% 0;
}
.hero-product-search-input {
  display: flex;
  align-items: center;
  background: var(--light-white-color);
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.hero-product-search-input .search-icon {
  color: var(--primary-btn-bg);
  font-size: 20px;
  margin: 0 10px;
}
.hero-product-search-input .search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--primary-font-color);
  font-weight: 600;
}
.hero-product-search-input .search-button {
  padding: 10px 28px;
  font-weight: 600;
  border-radius: 12px;
}
.search-button:hover {
  background-color: transparent;
}
.hero-container-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
/* -----hero-container-end-------- */

/* -----brand-collection-start----- */
.brand_collection_section .brand_collection h2 {
  color: var(--primary-font-color);
  width: max-content;
  margin: 0 auto;
}
.brands_collection_images {
  display: grid;
  margin-top: 30px;
  gap: 15px;
  grid-template-columns: repeat(8, 1fr);
}
.brands-collection-with-name {
  text-align: center;
}
.brands-collection-with-name p {
  margin-top: 5px;
  font-weight: 700;
}
/* -----brand-collection-end----- */

/* -----product-category-start----- */
.product-category-section {
  background-color: var(--black-color);
  text-align: center;
}
.product-category-section .container h2 {
  color: var(--light-white-color);
  margin-bottom: 5px;
}
.product-category-tab {
  justify-content: center;
  margin-top: 15px;
}
.product-category-tab .tab-container {
  display: flex;
  justify-content: center;
}
.product-category-tab .tab {
  padding: 10px 20px;
  border-right: 1px solid var(--light-black-color);
  background: var(--light-white-color);
  color: var(--black-color);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}
.product-category-tab .tab.active {
  background: var(--primary-btn-bg);
  color: var(--light-white-color);
}
.product-category-tab .tab.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--primary-btn-bg);
}
.product-category-image-with-price .category-products img{
  width: 170px;
  height: 170px;
  object-fit: contain;
}
.product-category-image-with-price {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.product-category-image-with-price .category-products {
  background-color: var(--white-color);
  padding: 2%;
  border-radius: 12px;
  cursor: pointer;
}
.about-categorty-products {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 2px solid var(--primary-border-color);
}
.about-categorty-products .product-name {
  font-weight: 700;
}
.about-categorty-products .product-price {
  color: var(--primary-btn-bg);
  font-weight: 500;
}
.product-view-button {
  font-weight: 600;
  font-size: 18px;
  padding: 9px 26px;
  border-radius: 10px;
}
/* -----product-category-end------ */
/* -----subscribe-newsletter-section-start------ */

.subscribe-newsletter-section {
  background-color: var(--light-white-color);
}
.subscribe-newsletter-main-div {
  display: flex;
  align-items: center;
  padding: 0 4%;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.subscribe-newsletter-main-div .content {
  width: 45%;
}
.subscribe-newsletter-main-div .image {
  width: 55%;
}
.subscribe-newsletter h3 {
  font-weight: 700;
}
.subscribe-newsletter p {
  color: var(--primary-font-color);
  padding: 15px 0 20px 0;
  font-weight: 700;
}
.subscribe-newsletter-search {
  display: flex;
  align-items: center;
  background: var(--light-white-color);
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.subscribe-newsletter-search input {
  flex: 1;
  font-family: var(--primary-font);
  padding-left: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--primary-font-color);
  font-weight: 600;
}
.subscribe-button {
  padding: 12px 28px;
  font-weight: 600;
  border-radius: 12px;
}
.subscribe-newsletter img {
  float: right;
}
/* -----subscribe-newsletter-section-end------ */
