.hero-container {
  background: linear-gradient(
    90deg,
    rgba(56, 54, 56, 1) 2%,
    rgba(11, 11, 11, 1) 37%
  );
}

.hero-container.container{
  display: flex;
}
.hero-container * {
  font-family: var(--primary-font);
}
.hero-container-content {
  width: 36%;
  color: var(--light-white-color);
}
.hero-container-image{
  width: 64%;
}
.hero-container-content h1{
font-size: 50px;
line-height: 1.3em;
}
.hero-container-content p{
  color: var(--primary-font-color);
  font-weight: 600;
  margin: 3% 0 6% 0;
}
.hero-product-search-input {
  display: flex;
  align-items: center;
  background: var(--light-white-color);
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.hero-product-search-input .search-icon {
  color: var(--primary-btn-bg);
  font-size: 20px;
  margin: 0 10px;
}
.hero-product-search-input .search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--primary-font-color);
  font-weight: 600;
}
.hero-product-search-input .search-button{
  padding: 10px 28px;
  font-weight: 600;
  border-radius: 12px;
}
.search-button:hover{
  background-color:transparent;
}
