.login-container input,
.login-container textarea,
.login-container select {
  font-family: var(--secondary-font);
  width: 100%;
  margin-top: 5px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--primary-border-color);
}
.login-container input::placeholder,
.login-container textarea::placeholder,
.login-container select::placeholder {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-font-color);
}
.login-container input:focus,
.login-container textarea:focus {
  outline: 1px solid var(--primary-btn-bg);
}
.login-container label {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-font-color);
}

.login-container .login-form .form-group {
  margin-bottom: 15px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container .login {
  width: 50%;
  text-align: center;
}
.login-container .login-form {
  border: 1px solid var(--primary-border-color);
  padding: 30px;
  width: 50%;
  border-radius: 15px;
}

.login-container .login-form h3 {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
}
.login-container .login img {
  width: 80%;
}

.login-container form p {
  font-size: 14px;
  color: var(--primary-btn-bg);
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

.login-container form .login-btn button {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.login-container form .google-btn button {
  width: 100%;
  margin-bottom: 20px;
  color: var(--black-color);
  background-color: var(--primary-border-color);
  border-radius: 25px;
  border: 2px solid var(--primary-border-color);
}

.login-container form .sign-up {
  color: var(--black-color);
  font-family: var(--secondary-font);
}

.login-container form .sign-up span {
  color: var(--primary-btn-bg);
  font-family: var(--primary-font);
}

@media screen and (max-width: 426px) {
  .login-container {
    display: block;
  }

  .login-container .login {
    width: 100%;
  }
  .login-container .login-form {
    width: 100%;
  }

  .login-container .login-form {
    padding: 20px;
  }
}
